<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>
  <div>
    <div>
      <header th:insert="fragments/nav.html :: navbar"></header>
    </div>
    <div class="container mx-auto mt-4">
      <div th:if="${param.success}" class="row m-4">
        <div class="col-lg-4">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            Successful logout
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <main>
        <div>
          <img src="" alt=""/>
        </div>
      </main>
    </div>
  </div>
<div th:replace="fragments/scripts.html :: scripts"></div>
</body>
</html>
