<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html::head"></head>
<body>
<div>
  <div>
    <header th:insert="fragments/nav.html::navbar"></header>
  </div>
  <div class="container mx-auto">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-6">
        <h1 class="text-center m-4">Log In</h1>
        <div class="card">
          <div class="card-body">
            <form action="" method="post" th:action="@{/login-process}" th:object="${loginStudent}">
              <div card="form-group">
                <label for="username">Username</label>
                <input class="form-control" type="text" th:field="*{username}" placeholder="Username"/>
              </div>
              <div>
                <label for="password">Password</label>
                <input class="form-control" type="password" th:field="*{password}" placeholder="Password"/>
              </div>
              <div card="form-group">
                <button class="btn btn-primary btn-block" type="submit">
                  Log In
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="fragments/scripts.html :: scripts"></div>
</div>
</body>
</html>
